.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 1000px;
	background-image: none;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px 0px 0px;
}

#page_position_content
{
	margin-top: -275px;
	margin-bottom: 190px;
}

#pu10966
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u10966
{
	z-index: 68;
	width: 1280px;
	background: #505050 url("../images/u7588-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(20%, #232323),color-stop(100%, #505050));
	background: -webkit-linear-gradient(top,#232323 40px,#505050 200px);
	background: -moz-linear-gradient(top,#232323 40px,#505050 200px);
	background: -ms-linear-gradient(top,#232323 40px,#505050 200px);
	background: -o-linear-gradient(top,#232323 40px,#505050 200px);
	background: linear-gradient(to bottom,#232323 40px,#505050 200px);
	border-color: #000000;
	padding-bottom: 36px;
	position: relative;
	margin-right: -10000px;
}

#u10966_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
	position: relative;
	left: -100px;
}

#u10969
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 200px;
}

#u10968-4
{
	z-index: 70;
	width: 251px;
	color: #FFFFFF;
	text-align: right;
	font-size: 10px;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 833px;
}

#u10971
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 317px;
}

#u10973
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 355px;
}

#u10975
{
	z-index: 80;
	width: 851px;
	height: 8px;
	background: -webkit-gradient(linear, left center, right center, from(#FF0000),color-stop(100%, #333333));
	background: -webkit-linear-gradient(left,#FF0000 ,#333333 100%);
	background: -moz-linear-gradient(left,#FF0000 ,#333333 100%);
	background: -ms-linear-gradient(left,#FF0000 ,#333333 100%);
	background: -o-linear-gradient(left,#FF0000 ,#333333 100%);
	background: linear-gradient(to right,#FF0000 ,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF0000, endColorstr=#FF333333, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF0000', endColorstr='#FF333333', GradientType=1)";
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 429px;
}

#u10976
{
	z-index: 81;
	width: 294px;
	height: 8px;
	background: #FF0000 url("../images/u7598-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#333333),color-stop(70%, #FF0000));
	background: -webkit-linear-gradient(left,#333333 ,#FF0000 70%);
	background: -moz-linear-gradient(left,#333333 ,#FF0000 70%);
	background: -ms-linear-gradient(left,#333333 ,#FF0000 70%);
	background: -o-linear-gradient(left,#333333 ,#FF0000 70%);
	background: linear-gradient(to right,#333333 ,#FF0000 70%);
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1px;
}

#u10976:hover
{
	margin: 100px -10000px 0px 0px;
}

#u10977-9
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 641px;
}

#u10978
{
	z-index: 92;
	height: 38px;
	width: 36px;
	vertical-align: top;
	background: url("../images/u10978.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 1022px;
}

#u10978:hover
{
	background: url("../images/u10978-r.png") no-repeat 0px 0px;
}

#u10979
{
	z-index: 95;
	height: 42px;
	width: 52px;
	vertical-align: top;
	background: url("../images/u10979.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 1044px;
}

#u10979:hover
{
	background: url("../images/u10979-r.png") no-repeat 0px 0px;
}

#u10981
{
	z-index: 98;
	height: 26px;
	width: 23px;
	vertical-align: top;
	background: url("../images/u10981.png") no-repeat 0px 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 995px;
}

#u10981:hover
{
	background: url("../images/u10981-r.png") no-repeat 0px 0px;
}

#u10967
{
	z-index: 69;
	width: 1280px;
	height: 5px;
	border-color: #000000;
	background-color: #FC0000;
	position: relative;
	left: -99px;
	top: -5px;
	margin-bottom: -5px;
}

#ppu4034
{
	width: 0.01px;
	margin-left: 190px;
	margin-top: 2px;
	position: relative;
}

#pu4034
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 250px;
}

#u4034
{
	z-index: 3;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 34px;
}

#u4033
{
	z-index: 7;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
}

#u4036
{
	z-index: 13;
	width: 148px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u4036:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4035-4
{
	z-index: 30;
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 6px;
}

#pu4042
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 550px;
}

#u4042
{
	z-index: 5;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 34px;
}

#u4041
{
	z-index: 10;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
}

#u4044
{
	z-index: 11;
	width: 148px;
	padding-bottom: 25px;
	margin-right: -10000px;
}

#u4036.MuseLinkActive,#u4044:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4043-4
{
	z-index: 22;
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 6px;
}

#u4030
{
	z-index: 2;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 100px;
}

#u4038
{
	z-index: 4;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 400px;
}

#u4029
{
	z-index: 6;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
	left: 100px;
}

#u4037
{
	z-index: 8;
	width: 150px;
	height: 34px;
	margin-right: -10000px;
	left: 400px;
}

#u4040
{
	z-index: 9;
	width: 148px;
	padding-bottom: 25px;
	margin-right: -10000px;
	left: 400px;
}

#u4044.MuseLinkActive,#u4040:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4039-4
{
	z-index: 26;
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 6px;
}

#u4032
{
	z-index: 12;
	width: 148px;
	padding-bottom: 25px;
	margin-right: -10000px;
	left: 100px;
}

#u4040.MuseLinkActive,#u4032:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4032.MuseLinkActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4031-4
{
	z-index: 34;
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 6px;
}

#u4018
{
	z-index: 14;
	width: 100px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 34px;
}

#u4017
{
	z-index: 15;
	width: 100px;
	height: 34px;
	margin-right: -10000px;
}

#u4019
{
	z-index: 16;
	width: 99px;
	padding-bottom: 18px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u4019:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u4019.MuseLinkActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u4046
{
	z-index: 17;
	width: 38px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 32px;
}

#u4020
{
	z-index: 18;
	width: 37px;
	margin-right: -10000px;
}

#u4022
{
	z-index: 20;
	width: 37px;
	margin-right: -10000px;
}

#u11607-4
{
	z-index: 38;
	width: 265px;
	min-height: 48px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #CCCCCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	margin-left: 407px;
	margin-top: 72px;
	position: relative;
}

#u11607-4:hover
{
	background-color: #EF4646;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 265px;
	margin: 72px 0px 0px 407px;
}

#u11608-7
{
	z-index: 42;
	width: 639px;
	min-height: 93px;
	text-align: center;
	font-family: sue-ellen-francisco, sans-serif;
	font-weight: 400;
	margin-left: 216px;
	margin-top: 34px;
	position: relative;
}

#u11608-2,#u11608-3
{
	font-size: 60px;
	line-height: 72px;
}

#u11608-5
{
	font-size: 40px;
	line-height: 48px;
}

#pu14334
{
	width: 0.01px;
	margin-left: 227px;
	position: relative;
}

#u14334
{
	z-index: 52;
	width: 101px;
	position: relative;
	margin-right: -10000px;
}

#u14349-4
{
	z-index: 60;
	width: 350px;
	min-height: 21px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 128px;
}

#u14340
{
	z-index: 54;
	width: 101px;
	position: relative;
	margin-right: -10000px;
}

#u14350-4
{
	z-index: 64;
	width: 350px;
	min-height: 21px;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 124px;
}

#u14349,#u14350
{
	font-family: ubuntu, sans-serif;
	font-weight: 400;
}

#u14343
{
	z-index: 56;
	width: 101px;
	margin-left: 227px;
	margin-top: 16px;
	position: relative;
}

#pu14340,#pu14346
{
	width: 0.01px;
	margin-left: 227px;
	margin-top: 16px;
	position: relative;
}

#u14346
{
	z-index: 58;
	width: 101px;
	position: relative;
	margin-right: -10000px;
}

#u14304
{
	z-index: 51;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 619px;
}

#u11609
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-left: 188px;
	margin-top: 6px;
	position: relative;
}

body
{
	padding-top: 274px;
}

