.Body-Small,.Body-Medium
{
	font-family: architects-daughter-n4, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.bodytext
{
	font-family: source-sans-pro-n4, sans-serif;
}

.ts05-Body-Handwriting
{
	font-family: annie-use-your-telescope-n4, sans-serif;
}

.ts04-Body-Serif-Light
{
	font-family: quattrocento-n4, serif;
}

.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

.ts03-Body-Serif-Wide
{
	font-family: droid-serif-n4, serif;
}

.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

.quote---text,.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

#u5664-4
{
	font-family: federo-n4, sans-serif;
}

#u5837-4,#u5844-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u9995-4,#u9066-4,#u9070-4,#u9068-4,#u9079-4,#u9083-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9996-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u14312-4,#u14321-4,#u14313-4,#u14325-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u14702-4,#u14320-4,#u9986-4,#u9981-4,#u9987-4,#u9983-4,#u9988-4,#u9984-4,#u9989-4,#u9985-4,#u14322-4,#u14326-4,#u14327-4
{
	font-family: voltaire-n4, sans-serif;
}

#u6000-4,#u6002-4,#u6038-4,#u6036-4
{
	font-family: lato-i3, sans-serif;
}

#u7321-4,#u7323-4,#u7329-4,#u7333-4
{
	font-family: lato-n9, sans-serif;
}

#u7089-4,#u7139-4,#u7100-4,#u7145-4,#u7086-4,#u7119-4,#u7090-4,#u7124-4,#u6526-4,#u6511-4,#u7349-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7351-3
{
	font-family: open-sans-n4, sans-serif;
}

#u7343-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7346-3
{
	font-family: open-sans-n4, sans-serif;
}

#u7096-6,#u7101-7,#u7138-6,#u7127-7,#u7093-6,#u7102-7,#u7146-6,#u7144-7,#u7098-6,#u7103-7,#u7118-6,#u7115-7,#u7087-6,#u7104-7,#u7122-6,#u7121-7,#u6483-6,#u6508-6,#u7071-7,#u7072-7,#u7369-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7352-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7370-4
{
	font-family: open-sans-n3, sans-serif;
}

#u7356-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7354-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu7347_input,#widgetu7342_input,#widgetu7353_input
{
	font-family: open-sans, sans-serif;
}

#u5995-4,#u8899-4,#u6037-4,#u9089-4,#u7220-4,#u7317-4,#u7749-4
{
	font-family: lato-n3, sans-serif;
}

#u7322-6,#u7324-4,#u7330-4,#u7334-4,#u14283-4,#u10169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10185-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10194-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10198-4
{
	font-family: open-sans-n3, sans-serif;
}

#u8780-2,#u8780-4,#u8780-5,#u8780-8
{
	font-family: open-sans-n3, sans-serif;
}

