.Body-Small,.Body-Medium
{
	font-family: architects-daughter-n4, sans-serif;
}

.quote---author,.Headline
{
	font-family: open-sans-n6, sans-serif;
}

.bodytext
{
	font-family: source-sans-pro-n4, sans-serif;
}

.ts05-Body-Handwriting
{
	font-family: annie-use-your-telescope-n4, sans-serif;
}

.ts04-Body-Serif-Light
{
	font-family: quattrocento-n4, serif;
}

.ts04-Body-Sans-Light
{
	font-family: quicksand-n4, sans-serif;
}

.ts03-Body-Serif-Wide
{
	font-family: droid-serif-n4, serif;
}

.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

.quote---text,.Titles_Pages
{
	font-family: open-sans-n3, sans-serif;
}

#u12839-4
{
	font-family: federo-n4, sans-serif;
}

#u12856-4,#u12854-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u12669-4,#u12727-4,#u12729-4,#u12723-4,#u12721-4,#u12725-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u12916-4,#u12765-4,#u12779-4,#u12963-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u14722-4,#u12966-4,#u12709-4,#u12782-4,#u12894-4,#u12918-4,#u12793-4,#u12815-4,#u12970-4,#u12783-4,#u12957-4,#u12826-4,#u12774-4
{
	font-family: voltaire-n4, sans-serif;
}

#u12784-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u12761-4,#u12747-4,#u12690-4,#u12897-4
{
	font-family: lato-i3, sans-serif;
}

#u12678-4,#u12748-4,#u12838-4,#u12955-4
{
	font-family: lato-n9, sans-serif;
}

#u14511-4,#u14530-4,#u14519-4,#u14538-4,#u14493-4,#u14509-4,#u14503-4,#u14525-4,#u14488-4,#u14489-4,#u12943-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12941-3
{
	font-family: open-sans-n4, sans-serif;
}

#u12935-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12938-3
{
	font-family: open-sans-n4, sans-serif;
}

#u14515-6,#u14513-7,#u14532-6,#u14534-7,#u14522-6,#u14520-7,#u14536-6,#u14540-7,#u14497-6,#u14496-7,#u14505-6,#u14506-7,#u14500-6,#u14501-7,#u14528-6,#u14527-7,#u14484-6,#u14485-6,#u14490-7,#u14491-7,#u12933-4
{
	font-family: open-sans-n3, sans-serif;
}

#u12939-4
{
	font-family: open-sans-n3, sans-serif;
}

#u12932-4
{
	font-family: open-sans-n3, sans-serif;
}

#u12928-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12930-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu12940_input,#widgetu12934_input,#widgetu12926_input
{
	font-family: open-sans, sans-serif;
}

#u12684-4,#u12795-4,#u12831-4,#u12832-4,#u12956-4,#u12886-4,#u12830-4
{
	font-family: lato-n3, sans-serif;
}

#u12683-6,#u12756-4,#u12806-4,#u12679-4,#u12917-4,#u13045-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13019-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13009-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13037-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13004-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13053-2,#u13053-4,#u13053-5,#u13053-8
{
	font-family: open-sans-n3, sans-serif;
}

