#u4036
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u4036:hover
{
	background-color: #EF4646;
}

#u4042
{
	border-color: #000000;
	background-color: #333333;
	-moz-border-radius: 0px 0px 10px 0px ;
	-webkit-border-radius: 0px 0px 10px 0px ;
	-khtml-border-radius: 0px 0px 10px 0px ;
	border-radius: 0px 0px 10px 0px ;
	position: relative;
}

#u4041
{
	border-color: #000000;
	background-color: #666666;
	-moz-border-radius: 0px 10px 0px 0px ;
	-webkit-border-radius: 0px 10px 0px 0px ;
	-khtml-border-radius: 0px 10px 0px 0px ;
	border-radius: 0px 10px 0px 0px ;
	position: relative;
}

#u4044
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	position: relative;
}

#u4036.MuseLinkActive,#u4044:hover
{
	background-color: #EF4646;
}

#u4034,#u4030,#u4038
{
	border-color: #000000;
	background-color: #333333;
	position: relative;
}

#u4033,#u4029,#u4037
{
	border-color: #000000;
	background-color: #666666;
	position: relative;
}

#u4040
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u4044.MuseLinkActive,#u4040:hover
{
	background-color: #EF4646;
}

#u4032
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u4040.MuseLinkActive,#u4032:hover
{
	background-color: #EF4646;
}

#u4035-4,#u4043-4,#u4039-4,#u4031-4
{
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u4018
{
	border-color: #000000;
	background-color: #333333;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
}

#u4017
{
	border-color: #000000;
	background-color: #666666;
	-moz-border-radius: 10px 0px 0px 0px ;
	-webkit-border-radius: 10px 0px 0px 0px ;
	-khtml-border-radius: 10px 0px 0px 0px ;
	border-radius: 10px 0px 0px 0px ;
	position: relative;
}

#u4019
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	position: relative;
}

#u4032.MuseLinkActive,#u4019:hover
{
	background-color: #EF4646;
}

#u4019.MuseLinkActive
{
	background-color: #EF4646;
}

#u4046,#u4020,#u4022
{
	position: relative;
}

#u4020_img,#u4022_img
{
	display: block;
	vertical-align: top;
}

